<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MetaWing</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_with_filter_to pilots_path, class: 'nav-link' do t('.pilots') end %>
      </li>

      <li class="nav-item active">
        <%= link_with_filter_to ships_path, class: 'nav-link' do t('.ships') end %>
      </li>

      <li class="nav-item active">
        <%= link_with_filter_to upgrades_path, class: 'nav-link' do t('.upgrades') end %>
      </li>

      <li class="nav-item active">
        <%= link_with_filter_to ship_combos_path, class: 'nav-link' do t('.lists') end %>
      </li>

      <li class="nav-item active">
        <%= link_with_filter_to about_path,  class: 'nav-link' do t('.about') end  %>
      </li>

      <li class="nav-item active">
        <%= link_with_filter_to news_index_path,  class: 'nav-link' do t('.news') end  %>
      </li>
      <li class="nav-item active">
        <%= link_to "https://listfortress.com", class: 'nav-link' do t('.listfortress') end  %>
      </li>
    </ul>
  </div>

</nav>